/*
0 - 600px:      Phone;
600 - 900px:    Tablet Portrait;  (max-width)
900 - 1200px:   Tablet Landscape;  (max-width)
1200 - 1800px:  Normal Style;
1800px + :      Big desktop  ( min width)
*/
/*
$breakpoint argument choices
- phone
- tab-port
- tab-land
- big-desktop

ORDER: Base + typogropahy > general layout + grid > page layout > components;

1 em = 16px
*/
@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  100% {
    transform: translateX(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  100% {
    transform: translateX(0); } }

@keyframes appear {
  0% {
    opacity: 0; }
  100% { } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  /* force inheritence */ }

html {
  font-size: 62.5%; }
  @media (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  box-sizing: border-box;
  padding: 3rem; }
  @media (max-width: 56.25em) {
    body {
      padding: 0; } }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  /* font-size: 16px; */
  font-size: 1.6rem;
  line-height: 1.7;
  color: #777; }

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  backface-visibility: hidden;
  /*to fix animation glitch */ }
  .heading-primary:not(:last-child) {
    padding-bottom: 10rem; }
  .heading-primary--main {
    display: block;
    font-size: 5.5rem;
    font-weight: 600;
    letter-spacing: 3.5rem;
    animation: moveInLeft 1s ease-out; }
    @media (max-width: 37.5em) {
      .heading-primary--main {
        letter-spacing: 2rem;
        font-size: 5rem; } }
  .heading-primary--sub {
    display: block;
    font-size: 5.5rem;
    font-weight: 600;
    letter-spacing: 3.5rem;
    animation: moveInRight 1s ease-out; }
    @media (max-width: 37.5em) {
      .heading-primary--sub {
        letter-spacing: 1rem;
        font-size: 5rem; } }
  .heading-primary--met {
    font-family: 'Indie Flower', cursive;
    font-size: 20rem;
    display: inline-block;
    color: #8860D0;
    animation: moveInLeft 1s ease-out; }
  .heading-primary--total {
    font-size: 6rem;
    font-weight: 900;
    display: inline-block;
    animation: moveInRight 1s ease-out; }
  .heading-primary--forwardSlash {
    font-size: 8rem;
    animation: appear 1.5s ease-in; }

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background-image: linear-gradient(to right, #5680E9, #84CEEB);
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: .2rem;
  transition: all .2s; }
  .heading-secondary:hover {
    transform: scale(1.1);
    text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2); }

.heading-tertiary {
  font-size: 2rem;
  font-weight: 700;
  text-transform: uppercase; }

.paragraph {
  font-size: 1.6rem; }
  .paragraph:not(:last-child) {
    margin-bottom: 3rem; }
  .paragraph--large {
    font-size: 2.5rem; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important; }

.u-margin-bottom-medium {
  margin-bottom: 4rem !important; }

.u-margin-bottom-big {
  margin-bottom: 8rem !important; }

.u-center-text {
  text-align: center !important; }

.answer-box {
  padding: 2rem;
  background-color: #f7f7f7;
  border-radius: 5px; }
  .answer-box__info {
    height: 6rem;
    background-image: linear-gradient(to right, #5680E9, #5AB9EA);
    -webkit-background-clip: text;
    color: transparent; }
    .answer-box__info--location {
      width: 25%;
      float: left; }
      .answer-box__info--location-city {
        display: block; }
    .answer-box__info--number {
      font-family: 'Indie Flower', cursive;
      font-size: 5rem;
      width: 25%;
      margin-top: -2rem;
      margin-bottom: -5rem;
      float: right;
      text-align: right;
      padding-right: 2rem;
      background-image: linear-gradient(to right, #8860D0, #c1C8E4);
      -webkit-background-clip: text;
      color: transparent; }
    .answer-box__info--name {
      margin-left: auto;
      margin-right: auto;
      text-align: center; }
  .answer-box__answer {
    padding-top: 1.5rem; }
    .answer-box__answer--icon {
      font-size: 2.5rem;
      display: inline;
      float: left;
      background-image: linear-gradient(to right, #8860D0, #c1C8E4);
      -webkit-background-clip: text;
      color: transparent; }
    .answer-box__answer--text {
      display: inline;
      padding-left: 1.5rem;
      vertical-align: top; }

.btn, .btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 10rem;
  transition: all .2s;
  position: relative;
  font-size: 1.6rem;
  border: none;
  cursor: pointer; }

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
  .btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0; }

.btn:active, .btn:focus {
  transform: translate(-1px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

.btn--blue {
  background-image: linear-gradient(to right, #5680E9, #84CEEB);
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: .2rem; }
  .btn--blue::after {
    background-color: #fff; }

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .4s; }

.add {
  background-color: rgba(247, 247, 247, 0.9);
  background-size: cover;
  border-radius: 5px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.2); }
  .add__form {
    padding: 6rem;
    text-align: center; }

.form {
  text-align: center;
  margin: 0; }
  .form__group__info {
    display: inline-block;
    width: 100%; }
    .form__group__info:nth-child(3) {
      width: 30%;
      float: right;
      margin-right: 0;
      text-align: right; }
      @media (max-width: 37.5em) {
        .form__group__info:nth-child(3) {
          width: 100%;
          float: none;
          margin-right: 0; } }
    .form__group__info:first-child {
      width: 30%;
      float: left; }
      @media (max-width: 37.5em) {
        .form__group__info:first-child {
          width: 100%;
          float: none;
          margin-right: 0; } }
    .form__group__info:nth-child(2) {
      width: 30%; }
      @media (max-width: 37.5em) {
        .form__group__info:nth-child(2) {
          width: 100%; } }
    @media (max-width: 37.5em) {
      .form__group__info {
        display: block;
        width: 100%; } }
  .form__input {
    font-size: 1.5rem;
    font-family: inherit;
    color: inherit;
    padding: 1.5rem 0;
    border-radius: 2px;
    background-color: rgba(255, 255, 255, 0.5);
    border: none;
    border-bottom: 3px solid transparent;
    width: 100%;
    display: block;
    transition: all .3;
    text-indent: 2rem; }
    .form__input:focus {
      outline: none;
      box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
      border-bottom: 3px solid #5AB9EA; }
      .form__input:focus:invalid {
        border-bottom: 3px solid orangered; }
    .form__input::-webkit-input-placeholder {
      color: #999; }
  .form__text {
    display: block;
    transition: all .3;
    font-size: 1.5rem;
    font-family: inherit;
    color: inherit;
    padding: 2rem;
    border-radius: 2px;
    background-color: rgba(255, 255, 255, 0.5);
    border: none;
    border-bottom: 3px solid transparent;
    width: 90%;
    display: block;
    transition: all .3;
    width: 100%; }
    .form__text:focus {
      outline: none;
      box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
      border-bottom: 3px solid #5AB9EA; }
      .form__text:focus:invalid {
        border-bottom: 3px solid orangered; }
    .form__text::-webkit-input-placeholder {
      color: #999; }
  .form__label {
    font-size: 1.2rem;
    font-weight: 700;
    margin-left: 2rem;
    margin-top: .7rem;
    display: block;
    transition: all .3s;
    text-align: left;
    margin-bottom: 2rem; }
  .form__input:placeholder-shown + .form__label {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-4rem); }
  .form__text:placeholder-shown + .form__label {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-4rem); }

.question-box {
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 1rem;
  padding: 2.5rem;
  text-align: center;
  border-radius: 5px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  transition: transform .3s;
  padding-bottom: 1rem;
  min-height: 22rem; }
  .question-box__icon {
    font-size: 6rem;
    display: inline-block;
    background-image: linear-gradient(to right, #8860D0, #c1C8E4);
    -webkit-background-clip: text;
    color: transparent; }
  .question-box__text {
    text-transform: none; }
  .question-box:hover {
    transform: translateY(-1.5rem) scale(1.03); }
    @media (max-width: 37.5em) {
      .question-box:hover {
        transform: translateY(-1.2rem) scale(1.015); } }

.footer {
  background-color: #fff;
  padding: 2rem;
  text-align: right; }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
    @media (max-width: 56.25em) {
      .row:not(:last-child) {
        margin-bottom: 0; } }
  @media (max-width: 56.25em) {
    .row {
      max-width: 60rem; } }
  @media (max-width: 37.5em) {
    .row {
      max-width: 60rem; } }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 3rem; }
    @media (max-width: 56.25em) {
      .row [class^="col-"] {
        width: 100% !important;
        margin: 0;
        margin-right: 0;
        margin-bottom: 6rem; } }
    @media (max-width: 37.5em) {
      .row [class^="col-"] {
        margin-bottom: 3rem; } }
  .row .col-1-of-2 {
    width: calc((100% - 3rem) / 2); }
    .row .col-1-of-2 #include respond(phone) {
      width: 100%; }
  .row .col-1-of-4 {
    width: calc((100% - (3rem * 3)) / 4); }
  .row .col-1-of-1 {
    position: relative;
    width: 50vw;
    margin: 0 auto; }

.header {
  height: 80vh;
  background-image: linear-gradient(to left top, rgba(132, 206, 235, 0.9), rgba(86, 128, 233, 0.9)), url(../img/hero.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 71vh);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 71vh); }
  @media (min-width: 112.5em) {
    .header {
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 67vh);
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0 67vh); } }
  @media (max-width: 75em) {
    .header {
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 72vh);
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0 72vh); } }
  @media (max-width: 56.25em) {
    .header {
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 73vh);
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0 73vh); } }
  @media (max-width: 37.5em) {
    .header {
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 75vh);
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0 75vh); } }
  .header__logo-box {
    position: absolute;
    top: 4rem;
    left: 4rem;
    color: black; }
  .header__title-box {
    position: absolute;
    top: 27%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }
  .header__totals-box {
    position: relative;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }

.section-about {
  background-color: #f7f7f7;
  padding: 15rem 0;
  margin-top: -5rem;
  position: relative;
  z-index: -1; }
  @media (min-width: 112.5em) {
    .section-about {
      margin-top: -10rem; } }
  @media (max-width: 75em) {
    .section-about {
      padding: 12rem 0; } }
  @media (max-width: 56.25em) {
    .section-about {
      padding: 10rem 0; } }
  @media (max-width: 37.5em) {
    .section-about {
      padding: 8rem 0; } }

.section-questions {
  padding: 15rem 0;
  background-image: linear-gradient(to right bottom, rgba(193, 200, 228, 0.8), rgba(136, 96, 208, 0.8)), url("/img/journal.jpg");
  background-size: cover;
  transform: skewY(-3deg); }
  .section-questions > * {
    transform: skewY(3deg); }
  @media (max-width: 75em) {
    .section-questions {
      padding: 12rem 0; } }
  @media (max-width: 56.25em) {
    .section-questions {
      padding: 10rem 0; } }
  @media (max-width: 37.5em) {
    .section-questions {
      padding: 8rem 0; } }

.section-answers {
  padding: 15rem 0;
  background-image: linear-gradient(to right bottom, rgba(132, 206, 235, 0.8), rgba(86, 128, 233, 0.8)), url(none);
  background-size: cover;
  transform: skewY(3deg);
  position: relative;
  z-index: 1; }
  .section-answers > * {
    transform: skewY(-3deg); }
  @media (max-width: 75em) {
    .section-answers {
      padding: 12rem 0; } }
  @media (max-width: 56.25em) {
    .section-answers {
      padding: 10rem 0; } }
  @media (max-width: 37.5em) {
    .section-answers {
      padding: 8rem 0; } }

.section-form {
  padding: 15rem 0;
  background-image: linear-gradient(to right bottom, rgba(193, 200, 228, 0.8), rgba(136, 96, 208, 0.8)), url("/img/map.jpg");
  background-size: cover;
  transform: skewY(-3deg); }
  .section-form > * {
    transform: skewY(3deg); }
  @media (max-width: 75em) {
    .section-form {
      padding: 12rem 0; } }
  @media (max-width: 56.25em) {
    .section-form {
      padding: 10rem 0; } }
  @media (max-width: 37.5em) {
    .section-form {
      padding: 8rem 0; } }
